In [1]:
import pandas as pd

In [2]:
senate_url = "https://en.wikipedia.org/wiki/Connecticut_Senate"
house_url = "https://en.wikipedia.org/wiki/Connecticut_House_of_Representatives"

In [34]:
def town_list(liststr):
    ret = liststr.split(",")
    ret = map(lambda x: x.replace(" (part)","").strip(), ret)
    return ret

In [29]:
def sen_df():
    tables = pd.read_html(senate_url)
    for i in range(len(tables)):
        #print (i, len(tables[i]))
        pass

    df = tables[4]

    df.columns = df.iloc[0]
    df = df.reindex(df.index.drop(0))[["District","Towns represented"]]
    df.columns = "district","towns"
    
    df["towns"] = df["towns"].apply(town_list)
    return df

senate = sen_df()
senate.head()

  district                                              towns
1        1               Hartford (part), Wethersfield (part)
2        2  Bloomfield (part), Hartford (part), Windsor (p...
3        3  East Hartford, East Windsor, Ellington (part),...
4        4           Andover, Bolton, Glastonbury, Manchester
5        5  Bloomfield (part), Burlington, Farmington (par...

In [47]:
def chamber_df(url=senate_url, town_col="Towns represented"):
    tables = pd.read_html(url)
    for i in range(len(tables)):
        #print (i, len(tables[i]))
        pass

    df = tables[4]

    df.columns = df.iloc[0]
    df = df.reindex(df.index.drop(0))[["District",town_col]]
    df.columns = "district","towns"
    
    df["towns"] = df["towns"].apply(town_list)
    return df

senate = chamber_df()
house = chamber_df(url=house_url, town_col="Cities/towns represented")

In [48]:
house[house["towns"].apply(lambda x: "Hartford" in x)]

  district                towns
1        1           [Hartford]
3        3           [Hartford]
4        4           [Hartford]
5        5  [Hartford, Windsor]
6        6           [Hartford]
7        7           [Hartford]